body {
    background-color: #fafafa;
    color: #757575;
    font-family: sans-serif;
    margin: 0;
    background: url(../img/bg-lightl-901.jpg);    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

button {   
    border: none;
    border-radius: 2px;
    color: #757575;
    position: relative;
    height: 36px;
    margin: 0 0 0 2px;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;    
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;      
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

input {    
    font-size: 1rem;
    color: #757575;
    padding: .5em;
    border-radius: 2px;
    border: 1px solid lightgray;
    outline: none;
}
.wrap{

}
header{ 
    display: flex;
    align-items: flex-end;   
    height: 200px;
    background: url(../img/bg.png) center;
    background-size: cover;     
}


.h1{
	text-align: center;
	text-transform: uppercase;
    color: #FF8C00;
    margin-left: 10px;
    text-shadow: 1px 2px 3px #222;    
}

.container{
	width: 700px;
	margin: 100px auto;
	border: 2px solid grey;
	border-radius: 10px;
	box-shadow: 1px 1px 10px #222;   	
    
}

/* Todo Item */
.todo-item {
    display: flex;
    font-size: 1rem;
    border-top: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
    transition: all .2s;
    -webkit-user-select: none;
    user-select: none;
    padding: 1em;
    align-items: center;
}

.todo-item.completed * {
    color: lightgray;
}

.todo-item .checkbox {
    margin-right: .5rem;
}

.todo-item .title,
.todo-item .textfield {
    margin-right: auto;
}

.todo-item.completed .title {
    text-decoration: line-through;
}

.todo-item.editing .title {
    display: none;
}

.todo-item .textfield {
    display: none;
}

.todo-item.editing .textfield {
    display: block;
}
.checkbox{
    width: 20px;
    height: 20px;    
}


.edit:hover{
	background: rgba(127,191,63,.5);
}


.delete:hover{
	background: rgba(255,28,28,.5);
}



#add-button:hover{
	background: rgba(63,127,191,.4);
}


/* Todo form */

#todo-form {
    display: flex;
    background-color: #FAFAFA;
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 10px;
}

#todo-form input {
    flex: 1;
    outline: none;
    transition: all .2s;
}

#todo-form input:focus {
    border: 1px solid #1CD2D2;
}

